$color-black: #000000;
$color-light-white: #f8f9fa;
$color-white: #ffffff;
$color-gray: #6b717f;
$color-light-gray: #ebedf0;
$color-green: #669999;
$color-blue: #1d9bf0;
$color-navy: #30446a;
$color-pink: #bf4080;
